*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

img {
  width: 100%;
}

#main {
  display: none;
}

header {
  padding: 6px 30px;

  display: grid;
  align-items: center;

  color: rgb(0, 0, 0);
  text-align: center;

  background-color: rgb(148, 212, 180);
}

.title {
  font-size: 2rem;
  font-weight: normal;
}

.name {
  font-size: 1.4rem;
  font-weight: normal;
}

#presentation {
  padding: 8px 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.presentation-p {
  margin: 25px 0;
  max-width: 600px;

  font-size: 1.5rem;
  text-align: justify;
}

div .presentation-button {
  margin: 20px auto !important;
  width: 60%;
  max-width: 600px;
  height: 60px;
  margin: 20px;
  border-radius: 50px;

  display: grid;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  background-color: rgb(148, 212, 180);
}

footer {
  padding: 15px;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.3rem;
  color: white;
  background-color: #1f1f20;
}

@media (min-width: 430px) {
  .display-grid {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10% 1fr 5%;
  }
  #presentation {
    margin: 0 40px;
  }
}

@media (min-width: 570px) {
  .title {
    font-size: 2.6rem;
  }
  .name {
    font-size: 1.8rem;
  }

  .presentation-img {
    display: flex;
  }

  .presentation-img > * {
    width: 300px;
    height: auto;
    object-fit: contain;
  }

  .display-grid {
    grid-template-rows: 10% 80% 5%;
  }
}
